setting.json
setting copy.json

imege/color/*
權限.txt
rule.py
cmds/data/omikuji.json
cmds/data/user_data.json

cmds/__pycache__
cmds/data/user_data_history
core/__pycache__
__pycache__
.vscode
node_modules
