setting.json
setting copy.json

權限.txt
cmds/data/omikuji.json
cmds/data/user_data.json

cmds/__pycache__
cmds/data/user_data_history
core/__pycache__
imege/rpg

__pycache__
.vscode
node_modules
setting_history/*